{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<h3 class="text-center my-3">Nos films à l'affiche</h3>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 m-0 px-4">

    {% if movieList is defined %}
        {% for movie in movieList %}



            <div class="col">
                <div class="card shadow-sm mb-3">
                    <div class="card-body">
                        <img src="{{ movie.POSTER }}" alt="" class="w-100">
                        <h4 class="mt-2"><a href="/movie/{{ movie.ID_MOVIE }}">{{ movie.NAME }}</a></h4>
                        <p class="card-text">{{ movie.SYNOPSIS }}</p>
                    </div>
                </div>
            </div>

        {% endfor %}
    {%  endif  %}


</div>
{% endblock %}
