{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}

    {% if movieList is defined %}
        <h1>Liste des Films</h1>
        {% for movie in movieList %}
        <h2><a href="/admin/movie/{{ movie.ID_MOVIE }}">{{ movie.NAME }}</a></h2>
        <p><a href="/admin/movie/modify/{{ movie.ID_MOVIE }}">Modifier</a></p>
        <button  onclick="deleteConfirm({{ movie.ID_MOVIE }})" id="deleteButton">Supprimer</button>
        <p>{{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
        {% endfor %}
    {% else %}
        <h1>Détail de {{ movie.NAME }}</h1>
        <h2>{{ movie.NAME }}</h2>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="{{ movie.POSTER }}" alt="Affiche du film {{ movie.NAME }}">
                </div>
                <div class="col-6">
                    <iframe width="595" height="446"
                            src="{{ movie.TRAILER }}?autoplay=1&mute=1">
                    </iframe>
                </div>
            </div>
        </div>
        <p>Date de sortie: {{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Origine : {{ movie.ORIGIN }}</td>
                </tr>
                <tr>
                    <td>VO : {{ movie.VO }}</td>
                </tr>
                <tr>
                    <td>Acteurs : {{ movie.ACTORS }}</td>
                </tr>
                <tr>
                    <td>Réalisateur : {{ movie.DIRECTOR }}</td>
                </tr>
                <tr>
                    <td>Genre : {{ movie.GENRE }}</td>
                </tr>
                <tr>
                    <td>Production : {{ movie.PRODUCTION }}</td>
                </tr>
                <tr>
                    <td>Durée : {{ movie.RUNTIME }} minutes</td>
                </tr>
                <tr>
                    <td>Nomination : {{ movie.NOMINATION }}</td>
                </tr>
            </tbody>
        </table>
        <hr>

    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="/assets/js/listMovie.js"></script>
{% endblock %}
