{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}
<div class="container">

    {% if movieList is defined %}
        <h1>Liste des Films</h1>
        {% for movie in movieList %}
        <h2><a href="/movie/{{ movie.ID_MOVIE }}">{{ movie.NAME }}</a></h2>
        <button class="btn btn-success" onclick="window.location.href='/admin/movie/modify/{{ movie.ID_MOVIE }}'">Modifier</button>
        <button class="btn btn-danger" onclick="deleteConfirm({{ movie.ID_MOVIE }})" id="deleteButton">Supprimer</button>
        <p>{{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
        {% endfor %}
    {% else %}
        <h1>Détail de {{ movie.NAME }}</h1>
        <h2>{{ movie.NAME }}</h2>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="{{ movie.POSTER }}" alt="Affiche du film {{ movie.NAME }}">
                </div>
                <div class="col-6">
                    <iframe width="595" height="446"
                            src="{{ movie.TRAILER }}?autoplay=1&mute=1">
                    </iframe>
                </div>
            </div>
        </div>
        <p>Date de sortie: {{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Note : {{ totalRate }}
                        {% if totalRate == "Non défini" %}

                        {% elseif totalRate >= 10 %}
                            ⭐⭐⭐⭐⭐
                        {% elseif totalRate >= 8 %}
                            ⭐⭐⭐⭐
                        {% elseif totalRate >= 6 %}
                            ⭐⭐⭐
                        {% elseif totalRate >= 4 %}
                            ⭐⭐
                        {% elseif totalRate >= 2 %}
                            ⭐
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>Origine : {{ movie.ORIGIN }}</td>
                </tr>
                <tr>
                    <td>VO : {{ movie.VO }}</td>
                </tr>
                <tr>
                    <td>Acteurs : {{ movie.ACTORS }}</td>
                </tr>
                <tr>
                    <td>Réalisateur : {{ movie.DIRECTOR }}</td>
                </tr>
                <tr>
                    <td>Genre : {{ movie.GENRE }}</td>
                </tr>
                <tr>
                    <td>Production : {{ movie.PRODUCTION }}</td>
                </tr>
                <tr>
                    <td>Durée : {{ movie.RUNTIME }} minutes</td>
                </tr>
                <tr>
                    <td>Nomination : {{ movie.NOMINATION }}</td>
                </tr>
            </tbody>
        </table>
        <hr>

        {% if ID_SESSION != null %}

            {% if ToSee == 0 %}
                <button class="btn btn-success" onclick="ToSee({{ movie.ID_MOVIE }})" id="ToSeeBtn">A Voir</button>

            {% else %}
                <button class="btn btn-danger" onclick="ToSee({{ movie.ID_MOVIE }})" id="ToSeeBtn">Vu</button>

            {% endif %}

            {% if Share == 0 %}
                <button class="btn btn-success" onclick="ToShare({{ movie.ID_MOVIE }})" id="ToShareBtn">Partager votre DVD</button>

                <!-- Permet de demander un prêt -->
                <h2>Demander un prêt :</h2>
                <form name="addInfoMovie" method="post" action="/infomovie/askshare/{{ movie.ID_MOVIE }}">
                    <label for="DateDebut">Date de début de prêt souhaité : </label>
                    <input type="date" name="DateDebut" required><br>
                    <label for="DateFin">Date de fin de prêt souhaité : </label>
                    <input type="date" name="DateFin" required><br>
                    <button class="btn btn-primary" type="submit">Demander un prêt</button>
                </form>
            {% else %}
                <button class="btn btn-danger" onclick="ToShare({{ movie.ID_MOVIE }})" id="ToShareBtn">Ne plus partager votre DVD</button>

            {% endif %}
        {% endif %}

        {% if infoMovieList is defined %}

            {% set commentOK = 0 %}
            {% for infoMovie in infoMovieList %}
                {% if (ID_SESSION == infoMovie.ID_USER)  %}

                    <h1>Liste des Commentaires</h1>

                    <h4>Note : {{ infoMovie.RATE }}</h4>
                    <p>{{ infoMovie.COMMENT }}</p>
                    <button class="btn btn-success" onclick="window.location.href='/infomovie/editcomment/{{ infoMovie.ID_INFO }}'">Modifier</button>
                    <button class="btn btn-danger" onclick="deleteDetailConfirm({{ infoMovie.ID_INFO }})" id="deleteButton">Supprimer</button>
                    {% set commentOK = 1 %}
                {% endif %}

            {% endfor %}

            {% if commentOK == 0 and ID_SESSION != null%}
                <h2>Ajouter un commentaire</h2>
                <form name="addInfoMovie" method="post" action="/infomovie/addcomment/{{ movie.ID_MOVIE }}">

                    <input id="Rate" type="number" step="0.1" min="0" max="10" name="Rate" placeholder="Note" required><br><br>
                    <textarea id="Comment" name="Comment" placeholder="Commentaire" rows="5" cols="33" required></textarea>
                    <button class="btn btn-primary" id="btnAdComment" type="submit">Envoyer</button><br><br>

                </form>


                {% if infoMovieList != false %}
                    <h1>Liste des Commentaires</h1>
                {% endif %}

            {% endif %}

            {% for infoMovie in infoMovieList %}
                {% if (ID_SESSION != infoMovie.ID_USER)  %}
                <h4>Note : {{ infoMovie.RATE }}</h4>
                <p>{{ infoMovie.COMMENT }}</p>
                    {% if (IS_ADMIN == 1) %}
                        <button class="btn btn-danger" onclick="deleteDetailConfirm({{ infoMovie.ID_INFO }})" id="deleteButton">Supprimer</button>
                    {% endif %}
                {% endif %}
                <hr>
            {% endfor %}
        {% endif %}

    {% endif %}
</div>
{% endblock %}

{% block javascript %}
    <script src="/assets/js/listMovie.js"></script>
    <script src="/assets/js/listInfoMovie.js"></script>
{% endblock %}
