{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6 mt-4 px-4">

        {% if movieList is defined %}
            {% for movie in movieList %}

                <div class="col-11 col-sm-6 col-md-4">
                    <div class="card shadow-sm mb-3">
                        <img src="./affiche-le-loup-de-wall-street.jpg" alt="">

                        <div class="card-body">
                            <img src="{{ movie.POSTER }}" alt="" class="w-100">
                            <h4 class="my-2"><a href="/movie/{{ movie.ID_MOVIE }}">{{ movie.NAME }}</a></h4>
                            <p class="mb-2">{{ movie.RELEASE_DATE }}</p>
                            <button class="btn btn-success" onclick="window.location.href='/admin/movie/modify/{​{​ movie.ID_MOVIE }​}​'">Modifier</button>
                            <button class="btn btn-danger" onclick="deleteConfirm({​{​ movie.ID_MOVIE }​}​)" id="deleteButton">Supprimer</button>
                            <p class="card-text">{{ movie.SYNOPSIS }}</p>
                        </div>
                    </div>
                </div>

            {% endfor %}
    {% else %}
        <h1>Détail de {{ movie.NAME }}</h1>
        <h2>{{ movie.NAME }}</h2>

        <div class="container">
            <div class="row">
                <div class="col-6">
                    <img src="{{ movie.POSTER }}" alt="Affiche du film {{ movie.NAME }}">
                </div>
                <div class="col-6">
                    <iframe width="595" height="446"
                            src="{{ movie.TRAILER }}?autoplay=1&mute=1">
                    </iframe>
                </div>
            </div>
        </div>
        <p>Date de sortie: {{ movie.RELEASE_DATE }}</p>
        <p>{{ movie.SYNOPSIS }}</p>
        <hr>
        <table>
            <tbody>
                <tr>
                    <td>Origine : {{ movie.ORIGIN }}</td>
                </tr>
                <tr>
                    <td>VO : {{ movie.VO }}</td>
                </tr>
                <tr>
                    <td>Acteurs : {{ movie.ACTORS }}</td>
                </tr>
                <tr>
                    <td>Réalisateur : {{ movie.DIRECTOR }}</td>
                </tr>
                <tr>
                    <td>Genre : {{ movie.GENRE }}</td>
                </tr>
                <tr>
                    <td>Production : {{ movie.PRODUCTION }}</td>
                </tr>
                <tr>
                    <td>Durée : {{ movie.RUNTIME }} minutes</td>
                </tr>
                <tr>
                    <td>Nomination : {{ movie.NOMINATION }}</td>
                </tr>
            </tbody>
        </table>
        <hr>

        <h2>Ajouter un commentaire</h2>
        <form name="addInfoMovie" method="post" action="/?controller=InfoMovie&action=AddInfoMovie&param={{ movie.ID_MOVIE }}">

            <input id="Rate" type="number" min="0" max="10" name="Rate" placeholder="Note" required><br><br>
            <textarea id="Comment" name="Comment" placeholder="Commentaire" rows="5" cols="33" required></textarea>
            <input type="checkbox" id="Share" name="Share">
            <label for="Share">actuellement prêté</label>
            <input type="checkbox" id="To_See" name="To_See" >
            <label for="To_See">A voir</label>
            <button id="btnAdComment" type="submit">Envoyer</button><br><br>

        </form>

        {% if infoMovieList is defined %}
            <h1>Liste des Commentaires</h1>
            {% for infoMovie in infoMovieList %}
                <h4>Note : {{ infoMovie.RATE }}</h4>
                <p>{{ infoMovie.COMMENT }}</p>
                {% if (ID_SESSION == infoMovie.ID_USER) or (IS_ADMIN == 1) %}
                    <button  onclick="deleteDetailConfirm({{ infoMovie.ID_INFO }})" id="deleteButton">Supprimer</button>
                {% endif %}
                <hr>
            {% endfor %}
        {% endif %}

    {% endif %}
{% endblock %}

{% block javascript %}
    <script src="/assets/js/listMovie.js"></script>
    <script src="/assets/js/listInfoMovie.js"></script>
{% endblock %}
