{% extends"base.html.twig" %}

{% block title %}Movies - {{ parent() }}{% endblock %}

{% block css %}
    <link rel="stylesheet" href="/assets/css/mystyleForMovie.css">
{% endblock %}

{% block body %}
    <h1>Update de <a href="?controller=movie&action=showonemovie&param={{ movie.ID_MOVIE }}">{{ movie.NAME }}</a></h1>

    <form name="addMovie" method="post" action="?controller=Movie&action=UpdateMovie&param={{ movie.ID_MOVIE }}">
        <input id="Name" type="text" name="Name" placeholder="Name" value="{{ movie.NAME }}" required>
        <input id="Poster" type="text" name="Poster" placeholder="Link Poster" value="{{ movie.POSTER }}" required>
        <input id="Origin" type="text" name="Origin" placeholder="Origin" value="{{ movie.ORIGIN }}">
        <input id="VO" type="text" name="VO" placeholder="VO" value="{{ movie.VO }}">
        <input id="Actors" type="text" name="Actors" placeholder="Actors" value="{{ movie.ACTORS }}">
        <input id="Director" type="text" name="Director" placeholder="Director" value="{{ movie.DIRECTOR }}">
        <input id="Genre" type="text" name="Genre" placeholder="Genre" value="{{ movie.GENRE }}">
        <input id="ReleaseDate" type="date" name="ReleaseDate" placeholder="ReleaseDate" value="{{ movie.RELEASE_DATE }}">
        <input id="Production" type="text" name="Production" placeholder="Production" value="{{ movie.PRODUCTION }}">
        <input id="Runtime" type="number" name="Runtime" placeholder="Runtime" value="{{ movie.RUNTIME }}" required>
        <input id="Trailer" type="text" name="Trailer" placeholder="Link Trailer" value="{{ movie.TRAILER }}">
        <input id="Nomination" type="text" name="Nomination" placeholder="Nomination" value="{{ movie.NOMINATION }}">
        <input id="Synopsis" type="text" name="Synopsis" placeholder="Synopsis" value="{{ movie.SYNOPSIS }}" required>
        <input id="DVD" type="checkbox" name="DVD" {% if movie.DVD == 1%} checked {% endif %}>

        <input type="submit" value="Submit Movie">
    </form>
{% endblock %}

